@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.page {
    min-width: 1280px;
    width: 100%;
    background-color: #202328;
    font-family: 'Raleway', sans-serif;
}

.content {
    margin: 0 auto;
}

.header {
    width: 1260px;
    background-color: #202328;
    background-image: url(./images/header__slide1.png);
    background-size: cover;
    height: 630px;
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 70px;
    position: relative;
}

.menu {
    width: calc(100% - 70px*2);
    height: 31px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.menu__logo {
    width: 139px;
    
}

.menu__nav {
    width: 301px;
    height: 100%;

}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu__links_icons {
    padding: 0 15px;
    box-sizing: border-box;
}

.menu_link-box {
    min-width: 83px;
    height: 100%;
   
    border-radius: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s ease;
}
.menu_link-box:first-child {
    background: rgba(196, 196, 196, 0.2);
}

.menu_link-box:hover {
    background-color: #F88500;
}

.menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.menu__soc-icons {
    width: 134px;
    background-color: rgba(196, 196, 196, 0.25);
    border-radius: 70px;
}

.menu__icon-link {
    display: flex;
}

.menu__icon {
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: transform .3s linear;
}

.menu__icon:hover {
    transform: scale(1.05);
}

.header__line {
    width: calc(100% - 70px*2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 28px 0 92px;
}

.header__title {
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    color: #FFFFFF;
}

.header__tagline {
    width: 182px;
    height: 32px;
    color: white;
    background-color: #F88500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px;
    margin: 14px 0 35px;
}

.header__tagline-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__subtitle {
    width: 414px;
    height: 102px;
    background: rgba(32, 35, 40, 0.9);
    border-radius: 0px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 15px;
    box-sizing: border-box;
}

.header__controller {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #202328;
    width: 140px;
    height: 90px;
    align-items: center;
    padding: 0 36px;
    border-radius: 10px 0px 0px 0px;
}

.header__controller-line {
    border: 1px solid #353941;
    height: 28px;
}

.header__controller-nmbrs {
    width: 52px;
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    justify-content: space-between;
    color: #818B9D;
}

.header__controller-button{
    background: none;
    border: none;
    width: 15px;
    height: 18px;
}


.header__controller-img {
  
}